<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<div>
  <%= form.label :published %>
  <%= form.check_box :published %>
</div>

<div>
  <%= form.label :author_id %>
  <%= form.collection_select :author_id, Author.all, :id, :name %>
</div>
