<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>

<%= select("post" , "author_id", Author.all.map {|u| [u.name , u.id]}) %>

<div>
  <%= form.label :published %>
  <%= form.check_box :published %>
</div>

