<%= link_to 'New post', new_post_path %> |
<%= link_to 'Drafts', drafts_posts_path %>

<% if @posts.empty? %>
  <p>
    No posts!
  </p>
<% else %>
  <%= paginate @posts %>
  <%= render @posts %>
  <%= paginate @posts %>
<% end %>
