<h2>New post</h2>

<%= form_for @post do |form| %>

  <%= errors_for @post %>

  <%= render form %>

	<%= select_tag 'post[author_id]', options_from_collection_for_select(@authors, :id, :name) %>

	<%= form.submit %> or <%= link_to 'cancel', posts_path %>

<% end %>

